<div class="container-fluid">
    <div class="image-home">
        <div class="row">
            <span class="wcs">La Wild Code School présente</span>
        </div>
        <div class="row"><span class="wild-circus">Le Wild Circus</span>
        </div>
    </div>
    <h2 class="offset-3">Le Wild Circus en images</h2>
    <div class="video offset-3 mt-5">
        <iframe width="680" height="320" src="https://www.youtube.com/embed/mATWjnKL7zo" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="card mt-5  ml-4 mr-4">
        <div class="card-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sem ipsum, gravida a lacus vel, porta molestie
            risus.
            Vivamus ac accumsan magna. Aenean pharetra nibh at bibendum auctor. Nulla efficitur erat at odio blandit, et
            efficitur
            risus porta. Integer quis porta mi. Aenean condimentum arcu vitae aliquet dapibus. Pellentesque in elit
            efficitur mi
            suscipit pharetra. Sed iaculis massa felis, quis elementum risus tincidunt eu. Donec eget sodales felis.
            Aenean
            tincidunt lorem in auctor faucibus. Donec rutrum suscipit urna.

            Sed viverra quis diam a vestibulum. Nulla et congue lectus, vitae sollicitudin sem. Praesent molestie
            elementum eros,
            vitae convallis magna aliquam at. Proin vitae neque eget justo aliquet sodales sit amet nec dui. Vivamus
            feugiat ligula
            tortor, quis placerat lacus feugiat ut. Ut non euismod purus, porttitor pulvinar velit. Integer gravida
            cursus metus sed
            consequat. Vivamus vel neque nibh. Nulla non libero quis dolor commodo egestas. Sed volutpat luctus dolor,
            in posuere
            nulla dapibus et. Maecenas in turpis venenatis sapien malesuada porttitor. Vestibulum ante ipsum primis in
            faucibus orci
            luctus et ultrices posuere cubilia Curae; Mauris ut lectus eget mi venenatis dictum id et ipsum.

            Maecenas tellus quam, auctor non felis sit amet, varius rutrum mauris. Aliquam pulvinar diam in feugiat
            placerat. Sed
            finibus, magna et hendrerit volutpat, erat ante pharetra sem, id aliquet dui ex ut orci. Aenean hendrerit
            urna at nisi
            malesuada facilisis. In id ultrices tortor. Integer elementum vitae nibh dictum porta. Donec lobortis libero
            nec
            vehicula pellentesque. Phasellus ut mi dui. Vestibulum scelerisque augue et nulla laoreet fringilla. Aliquam
            vel
            accumsan nibh.
        </div>
    </div>
    <h2 class="mt-4">Accès</h2>
    <div class="card m-4">
        <div class="card-body text-center">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d86422.40176556462!2d0.6031115029316204!3d47.39828492823866!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47fd38196dc529c3%3A0x64daae1c07ef3b01!2sGeorget+Family+Circus!5e0!3m2!1sfr!2sfr!4v1563362604300!5m2!1sfr!2sfr"
                width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
</div>