<div class="nav-side-menu">
    <div class="brand"></div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
    <div class="menu-list">
        <ul id="menu-content" class="menu-content collapse out">
            <li [routerLink]="['']">
                <a> Accueil </a>
            </li>
            <li [routerLink]="['about']">
                <a> A propos </a>
            </li>
            <li [routerLink]="['store']">
                <a> Boutique </a>
            </li>
            <li [routerLink]="['show']">
                <a> Extraits </a>
            </li>
            <li [routerLink]="['news']">
                <a> Actu </a>
            </li>
            <li [routerLink]="['contact']">
                <a> Contact </a>
            </li>
        </ul>
    </div>
</div>